{% extends "main_resume/base.html" %}
{% load static %}
{% block content %}  
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-body h-100 border-info" id="profile-wrapper">
          <img id="profile-pic" src="{% static 'images/patrick.jpg' %}" >
          <br>
          <h4>Hi, I'm Patrick!</h4>
          <p>A beginner in django/Python but absolutely loving it.</p>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card card-body h-100 border-info">
          <h4>My Journey as a Developer</h4>
          <br>
          <p>I wrote my first ever "Hello World" program in Python on February 14 2020 (while
            it didn't seem like much) i quickly fell in love with Python and decided that i have 
            to get better at Python as i soon discovered that it has endless opportunities.</p>

          <p>After spending about four months trying to grasp the concepts in Python, i decided i
            needed to up my game otherwise get stuck, so i started learning django and used it to
            build some personal projects that i didn't finish because i got stuck on the way.</p>
            
          <p>I am still looking at django and i'm getting better by the day with python and Django.</p>
            
          <ul class="social-links">
            <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
            <li><img class="social" src="{% static 'images/linkedIn.png' %}"></li>
            <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
            <li><img class="social" src="{% static 'images/github.png' %}"></li>
          </ul>

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h5>My Experience as a developer</h5>
          <br>
          <p>I haven't had much experience as i'm currently looking to get some through
          this internship.</p>
          <p>In my spare time, i have built an uncompleted e-commerce site for books, a blog
          that i am yet to complete, an e-learning journal and a discord bot.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body h-100">
          <h5>What I know</h5>
          <br>
          <p>Python, Django, HTML/CSS, Postgres</p>
          <p>PS: Working on Datascience and Machine Learning.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h5>How I Learn</h5>
          <br>
          <p>Reverse Engineer and build ugly Prototypes First.</p>

          <p>I can learn just about anything by having a final product to tear apart piece by
            piece. I break the code where i need to figure out why things work the way they do.
            Documentation is just a reference.</p>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card card-body h-100">
          <h5>My Short Term Goals</h5>
          <br>
          <p>Is to gather as much experience as possible which will enable me have an edge is this competive
            market</p> 
        </div>
      </div>
    </div>
    <br>
  </div>

{% endblock content %}
